<section id="dates" class="container pb-8">
    <h2 class="relative">Écouter Bekar</h2>
    <div class="pt-8 grid gap-8 grid-cols-4">
        <a target="_blank" rel="noopener noreferer" href="https://music.apple.com/fr/artist/bekar/633585653" class="w-full">
            <img src="{{ (resources.Get "logos/apple_music.png").RelPermalink }}" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://www.amazon.fr/Bekar/e/B08DFQG9GZ" class="w-full">
            <img src="{{ (resources.Get "logos/amazon_music.png").RelPermalink }}" class="rounded-lg" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://open.spotify.com/artist/6wjkiUBMMYSIx5UBTp7eKC" class="w-full">
            <img src="{{ (resources.Get "logos/spotify.png").RelPermalink }}" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://www.youtube.com/channel/UCOvYc9SLXqnfOB-jEiYo_Xg" class="w-full my-auto">
            <img src="{{ (resources.Get "logos/youtube.png").RelPermalink }}" loading="lazy">
        </a>
    </div>
</section>