{{ define "title" }}
        bekar
{{ end }}

{{ define "content" }}
    <main class="container -mt-32 pb-16 flex-grow bg-primary sm:rounded-xl">
        {{ .Content }}
        <div class="flex p-2">
            <a href="/conferences/" class="ml-auto flex">
                <span class="pr-1">
                    Voir toutes les conférences
                </span> <svg class="w-4 h-4 my-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </main>
{{ end }}